.container
{
  width            : 100%;
  margin           : 0 auto;
  padding:           20px 16px 80px;
  position         : relative;
  z-index          : 1;
  background       : #f2f4f5;
}

@media screen and (max-width : 1440px)
{
  .container
  {
    width : 100%;
  }
}

@media screen and (min-width : 992px)
{
  .container
  {
    max-width : 1238px;
  }
}

.searchbarPartsContainer
{
  display               : grid;
  width                 : 100%;
  background-color      : inherit;
  grid-template-columns : repeat(12, 1fr);
  grid-column-gap       : 1px;
  -webkit-align-items   : stretch;
  -webkit-box-align     : stretch;
  -ms-flex-align        : stretch;
  align-items           : stretch;
}

.actualSearchbarContainer
{
  padding       : 0;
  grid-column   : span 6;
  position      : relative;
  width         : 100%;
  margin:         0 0 20px;
}

.idk1
{

}

.actualSearchbarInnerContainer
{
  background-color : transparent;
  position         : relative;
}

.actualSearchbar
{
  font-size           : 16px;
  color               : #002f34;
  line-height         : 20px;
  outline             : 0;
  padding             : 14px 48px 14px 16px;
  width               : 100%;
  border-radius       : 4px 0 0 4px;
  border:               none #ffffff;
  border-bottom:        2px solid;
  background-color    : #ffffff;
  height              : 72px;
  margin-bottom       : 4px;
}

.miscOptionsContainer
{
  display               : -webkit-box;
  display               : -webkit-flex;
  display               : -ms-flexbox;
  display               : flex;
  margin-bottom         : 32px;
  -webkit-align-content : center;
  -ms-flex-line-pack    : center;
  align-content         : center;
}

.miscOption
{
  display             : -webkit-box;
  display             : -webkit-flex;
  display             : -ms-flexbox;
  display             : flex;
  -webkit-align-items : center;
  -webkit-box-align   : center;
  -ms-flex-align      : center;
  align-items         : center;
  margin-bottom       : 32px;
}

.miscOption > div
{
  margin-right  : 16px;
  margin-bottom : 0;
}

.miscOptionCheckboxLabel
{
  -webkit-align-items: center;
  -webkit-box-align:   center;
  -ms-flex-align:      center;
  align-items:         center;
  display:             -webkit-box;
  display:             -webkit-flex;
  display:             -ms-flexbox;
  display:             flex;
}

.miscOptionCheckboxLabel input[type='checkbox']
{
  opacity:  0;
  position: absolute;
}

.miscOptionTextLabel
{
  line-height: 20px;
  margin:      0 0 0 16px;
  font-size:   14px;
  color:       #7F9799;
}

.miscOptionCheckboxContainerUnchecked
{
  -webkit-align-items:     center;
  -webkit-box-align:       center;
  -ms-flex-align:          center;
  align-items:             center;
  border-radius:           4px;
  border-style:            solid;
  border-color:            #002F34;
  border-width:            2px;
  box-sizing:              border-box;
  background-color:        transparent;
  display:                 -webkit-box;
  display:                 -webkit-flex;
  display:                 -ms-flexbox;
  display:                 flex;
  height:                  24px;
  -webkit-box-pack:        center;
  -ms-flex-pack:           center;
  -webkit-justify-content: center;
  justify-content:         center;
  width:                   24px;
}

.miscOptionCheckboxContainerChecked
{
  -webkit-box-align: center;
  align-items:       center;
  border-radius:     4px;
  border-style:      solid;
  border-color:      rgb(0, 47, 52);
  border-width:      0px;
  box-sizing:        border-box;
  background-color:  rgb(0, 47, 52);
  display:           flex;
  height:            24px;
  -webkit-box-pack:  center;
  justify-content:   center;
  width:             24px;
}

.miscOptionCheckboxIcon
{
  height: 24px;
  width:  24px;
  color:  #FFFFFF;
}

.watchSearch
{
  -webkit-align-items: center;
  -webkit-box-align:   center;
  -ms-flex-align:      center;
  align-items:         center;
  box-sizing:          border-box;
  cursor:              pointer;
  display:             -webkit-inline-box;
  display:             -webkit-inline-flex;
  display:             -ms-inline-flexbox;
  display:             inline-flex;
  -webkit-box-pack:    center;
  -ms-flex-pack:       center;
  -webkit-justify-content: center;
  justify-content:     center;
  min-height:          40px;
  position:            relative;
  -webkit-text-decoration: none;
  text-decoration:     none;
  font-weight:         700;
  line-height:         18px;
  background-color:    transparent;
  border:              2px solid #002F34;
  border-radius:       4px;
  color:               #002F34;
  -webkit-transition:  0.2s ease all;
  transition:          0.2s ease all;
  padding:             0 16px;
  font-size:           14px;
  float:               right;
  margin-left: auto;
  height:      20px;
}

.watchSearch:not(:disabled):hover
{
  padding: 0 16px;
}

@media (hover)
{
  .watchSearch:not(:disabled):hover
  {
    border-width: 5px;
    padding:      9px 16px;
  }
}

@media (hover)
{
  .watchSearch:not(:disabled):active
  {
    background-color: #7F9799;
    border-color:     #7F9799;
    color:            #FFFFFF;
  }
}

.watchSearchIcon
{
  height:       16px;
  width:        16px;
  margin-right: 8px;
  color:        #002F34;
}

.filtersContainer
{
  display:               grid;
  width:                 100%;
  background-color:      inherit;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap:       16px;
  -webkit-align-items:   stretch;
  -webkit-box-align:     stretch;
  -ms-flex-align:        stretch;
  align-items:           stretch;
}

.filtersTitle
{
  font-size:   24px;
  line-height: 26px;
  font-weight: 500;
  color:       #002F34;
  margin:      0 0 16px;
}

.filtersMainContainer
{
  padding:     0;
  grid-column: span 12;
  position:    relative;
  width:       100%;
  margin:      0;
}

@media screen and (max-width: 992px)
{
  .filtersMainContainer
  {
    grid-column: span 12;
  }
}

.filtersMainInnerContainer
{
  display:               grid;
  width:                 100%;
  background-color:      inherit;
  grid-column-gap:       16px;
  grid-template-columns: repeat(10, 1fr);
  grid-row-gap:          16px;
  -webkit-align-items:   stretch;
  -webkit-box-align:     stretch;
  -ms-flex-align:        stretch;
  align-items:           stretch;
}

.categoryFilterOuterContainer
{
  padding:     0;
  grid-column: span 2;
  position:    relative;
  width:       100%;
  margin:      0;
}

@media screen and (max-width: 992px)
{
  .categoryFilterOuterContainer
  {
    grid-column: span 12;
  }
}

.categoryFilterContainer
{
  width:     100%;
  font-size: 14px;
}

.categoryFilterTitle
{
  font-size:   14px;
  line-height: 18px;
  color:       #002F34;
  margin:      0 0 6px;
}

.categoryFilterInnerContainer
{
  background:              #fff;
  margin-right:            0;
  width:                   100%;
  font-weight:             inherit;
  display:                 -webkit-box;
  display:                 -webkit-flex;
  display:                 -ms-flexbox;
  display:                 flex;
  -webkit-align-items:     center;
  -webkit-box-align:       center;
  -ms-flex-align:          center;
  align-items:             center;
  -webkit-box-pack:        justify;
  -webkit-justify-content: space-between;
  justify-content:         space-between;
  cursor:                  pointer;
  border-radius:           4px;
  height:                  48px;
  line-height:             48px;
  padding:                 0 16px;
  font-size:               16px;
  color:                   #002F34;
}

.categoryFilterSelectedText
{
  white-space:   nowrap;
  text-overflow: ellipsis;
  overflow:      hidden;
}

.dropdownIcon
{
  height:      24px;
  width:       24px;
  margin-left: 8px;
  color:       #002F34;
}

.priceRangeFilterContainer
{
  padding:     0;
  grid-column: span 2;
  position:    relative;
  width:       100%;
  margin:      0 0 8px;
}

.priceRangeFilterTitle
{
  font-size:     14px;
  line-height:   18px;
  color:         #002F34;
  margin:        0 0 6px;
  text-overflow: ellipsis;
  overflow:      hidden;
  white-space:   nowrap;
  display:       block;
}

.priceRangeFilterInnerContainer
{
  display:        -webkit-box;
  display:        -webkit-flex;
  display:        -ms-flexbox;
  display:        flex;
  grid-auto-flow: row;
  grid-gap:       8px;
  padding-bottom: 10px;
  height:         48px;
}

.priceRangeFilterInputContainer
{
  background-color: transparent;
  position:         relative;
}

.priceRangeFilterInput
{
  font-size:           16px;
  color:               #002F34;
  border:              none;
  border-bottom-color: #F2F4F5;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius:       4px;
  line-height:         20px;
  outline:             0;
  width:               100%;
  padding:             14px 32px 14px 10px;
  background-color:    #FFFFFF;
  cursor:              pointer;
}