.container
{
  width            : 100%;
  margin           : 0 auto;
  background-color : #f2f4f5;
  padding-top      : 40px;
  padding-bottom   : 80px;
  padding-left     : 16px;
  padding-right    : 16px;
  padding-top      : 20px;
  position         : relative;
  z-index          : 1;
  background       : #f2f4f5;
  padding-left     : 16px;
  padding-right    : 16px;
}

@media screen and (max-width : 1440px)
{
  .container
  {
    width : 100%;
  }
}

@media screen and (min-width : 992px)
{
  .container
  {
    max-width : 1238px;
  }
}

.searchbarPartsContainer
{
  display               : grid;
  width                 : 100%;
  background-color      : inherit;
  grid-template-columns : repeat(12, 1fr);
  grid-column-gap       : 16px;
  grid-column-gap       : 1px;
  -webkit-align-items   : stretch;
  -webkit-box-align     : stretch;
  -ms-flex-align        : stretch;
  align-items           : stretch;
}

.actualSearchbarContainer
{
  margin        : 0;
  padding       : 0;
  margin-bottom : 24px;
  grid-column   : span 6;
  position      : relative;
  width         : 100%;
  margin-bottom : 20px;
}

.idk1
{

}

.actualSearchbarInnerContainer
{
  background-color : transparent;
  position         : relative;
}

.actualSearchbar
{
  font-size           : 16px;
  color               : #002f34;
  background-color    : #f2f4f5;
  border              : none;
  border-bottom-color : #f2f4f5;
  border-bottom-style : solid;
  border-bottom-width : 2px;
  border-radius       : 4px;
  line-height         : 20px;
  outline             : 0;
  padding             : 14px 48px 14px 16px;
  width               : 100%;
  border-radius       : 4px 0 0 4px;
  border-color        : #ffffff;
  background-color    : #ffffff;
  height              : 72px;
  margin-bottom       : 4px;
}

.miscOptionsContainer
{
  display               : -webkit-box;
  display               : -webkit-flex;
  display               : -ms-flexbox;
  display               : flex;
  margin-bottom         : 32px;
  -webkit-align-content : center;
  -ms-flex-line-pack    : center;
  align-content         : center;
}

.miscOption
{
  display             : -webkit-box;
  display             : -webkit-flex;
  display             : -ms-flexbox;
  display             : flex;
  -webkit-align-items : center;
  -webkit-box-align   : center;
  -ms-flex-align      : center;
  align-items         : center;
  margin-bottom       : 16px;
  margin-bottom       : 32px;
}

.miscOption > div
{
  margin-right  : 16px;
  margin-bottom : 0;
}

.miscOptionCheckboxLabel
{
  -webkit-align-items: center;
  -webkit-box-align:   center;
  -ms-flex-align:      center;
  align-items:         center;
  display:             -webkit-box;
  display:             -webkit-flex;
  display:             -ms-flexbox;
  display:             flex;
}

.miscOptionCheckboxLabel input[type='checkbox']
{
  opacity:  0;
  position: absolute;
}

.miscOptionTextLabel
{
  font-size:   16px;
  line-height: 20px;
  color:       #002F34;
  margin:      0;
  margin-left: 16px;
  font-size:   14px;
  color:       #7F9799;
}

.miscOptionCheckboxContainerUnchecked
{
  -webkit-align-items:     center;
  -webkit-box-align:       center;
  -ms-flex-align:          center;
  align-items:             center;
  border-radius:           4px;
  border-style:            solid;
  border-color:            #002F34;
  border-width:            2px;
  box-sizing:              border-box;
  background-color:        transparent;
  display:                 -webkit-box;
  display:                 -webkit-flex;
  display:                 -ms-flexbox;
  display:                 flex;
  height:                  24px;
  -webkit-box-pack:        center;
  -ms-flex-pack:           center;
  -webkit-justify-content: center;
  justify-content:         center;
  width:                   24px;
}

.miscOptionCheckboxContainerChecked
{
  -webkit-box-align: center;
  align-items:       center;
  border-radius:     4px;
  border-style:      solid;
  border-color:      rgb(0, 47, 52);
  border-width:      0px;
  box-sizing:        border-box;
  background-color:  rgb(0, 47, 52);
  display:           flex;
  height:            24px;
  -webkit-box-pack:  center;
  justify-content:   center;
  width:             24px;
}

.miscOptionCheckboxIcon
{
  height: 24px;
  width:  24px;
  color:  #FFFFFF;
  color:  #FFFFFF;
}

.watchSearch
{
  -webkit-align-items:     center;
  -webkit-box-align:       center;
  -ms-flex-align:          center;
  align-items:             center;
  border:                  0;
  border-radius:           0;
  box-sizing:              border-box;
  color:                   #FFFFFF;
  cursor:                  pointer;
  display:                 -webkit-inline-box;
  display:                 -webkit-inline-flex;
  display:                 -ms-inline-flexbox;
  display:                 inline-flex;
  -webkit-box-pack:        center;
  -ms-flex-pack:           center;
  -webkit-justify-content: center;
  justify-content:         center;
  margin:                  0;
  min-height:              40px;
  padding:                 13px 48px 15px;
  position:                relative;
  -webkit-text-decoration: none;
  text-decoration:         none;
  background-color:        #002F34;
  font-weight:             700;
  font-size:               16px;
  line-height:             18px;
  background-color:        transparent;
  border:                  2px solid #002F34;
  border-radius:           4px;
  color:                   #002F34;
  padding:                 12px 46px;
  -webkit-transition:      0.2s ease all;
  transition:              0.2s ease all;
  padding:                 0 16px;
  border-radius:           4px;
  font-size:               14px;
  float:                   right;
}

.watchSearch > button
{
  margin-left: auto;
  height:      40px;
}