.mainContent
{
  padding-top      : 72px;
  min-height       : 80vh;
  background-color : #f2f4f5;
}

.homePage
{
  background-color: #F2F4F5;
  overflow:         hidden;
  padding:          0;
  margin-bottom:    0;
  border-radius:    0;
  position:         relative;
}