.container
{
  background-color : #ffffff;
  overflow         : hidden;
  padding          : 0;
  margin-bottom    : 0;
  border-radius    : 0;
  position         : relative;
}

.innerContainer
{
  width            : 100%;
  margin           : 0 auto;
  background-color : white;
  padding: 56px 0;
}

.text
{
  font-size     : 32px;
  line-height   : 34px;
  font-weight   : 700;
  text-align    : center;
  color         : #002f34;
  margin: 0 0 56px;
}

.categories
{
  display               : grid;
  width                 : 100%;
  background-color      : inherit;
  grid-template-columns : repeat(9, 1fr);
  grid-column-gap       : 0;
  -webkit-align-items   : stretch;
  -webkit-box-align     : stretch;
  -ms-flex-align        : stretch;
  align-items           : stretch;
}

.category
{
  text-align              : center;
  display                 : inline-block;
  -webkit-text-decoration : none;
  text-decoration         : none;
  grid-row                : 1;
  margin-bottom           : 40px;
  padding                 : 0 6px;
  color                   : #002f34;
}

.category:hover .categoryName
{
  background: #002f34;
  color:      #ffffff;
}

.categoryName
{
  font-size               : 16px;
  line-height             : 20px;
  font-weight             : 600;
  margin-top              : 28px;
  display                 : -webkit-inline-box;
  display                 : -webkit-inline-flex;
  display                 : -ms-inline-flexbox;
  display                 : inline-flex;
  -webkit-box-pack        : center;
  -ms-flex-pack           : center;
  -webkit-justify-content : center;
  justify-content         : center;
  text-align              : center;
  -webkit-flex-direction  : column;
  -ms-flex-direction      : column;
  flex-direction          : column;
}

.categoryImage
{
  -webkit-flex-shrink : 0;
  -ms-flex-negative   : 0;
  flex-shrink         : 0;
  margin              : 0 auto;
  border-radius       : 50%;
  width               : 88px;
  height              : 88px;
  display             : block;
}

.loaderOuterContainer
{
  display          : flex;
  justify-content  : center;
  align-items      : center;
  width            : 100%;
  margin           : 0 auto;
  background-color : white;
  padding          : 56px 16px;
}

.loaderContainer
{
  display          : flex;
  justify-content  : center;
  align-items      : center;
  padding          : 24px;
  margin-bottom    : 24px;
  background-color : #ffffff;
  border-radius    : 4px;
  overflow         : hidden;
  position         : relative;
}

.loader
{
  width             : 55px;
  aspect-ratio      : 1;
  --g1              : conic-gradient(from 90deg at 3px 3px, #0000 90deg, #000000 0);
  --g2              : conic-gradient(from -90deg at 22px 22px, #0000 90deg, #000000 0);
  background        : var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-size   : 25px 25px;
  background-repeat : no-repeat;
  animation         : l7 1.5s infinite;
}

@keyframes l7
{
  0%
  {
    background-position : 0 0, 0 100%, 100% 100%;
  }
  25%
  {
    background-position : 100% 0, 0 100%, 100% 100%;
  }
  50%
  {
    background-position : 100% 0, 0 0, 100% 100%;
  }
  75%
  {
    background-position : 100% 0, 0 0, 0 100%;
  }
  100%
  {
    background-position : 100% 100%, 0 0, 0 100%;
  }
}