.footerContent
{
  z-index    : 1001;
  position   : relative;
}

.actualFooter
{
  max-width : 1238px;
  margin    : 0 auto;
  padding   : 72px 0;
}

/* Partners section */
.partners
{
  margin : 24px 0;
}

.partnersLogosStrip
{
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display : flex;
}

.partnerContainer
{
  margin-right            : 16px;
  -webkit-text-decoration : none;
  text-decoration         : none;
}

.partnerLogoContainer
{
  display : inline-block;
}

.partnerLogoContainer svg
{
  -webkit-filter : grayscale(1);
  filter         : grayscale(1);
}

.partnerContainer:hover svg
{
  -webkit-filter : grayscale(0);
  filter         : grayscale(0);
}

.partnerLogo
{
  height : 16px;
  width  : 16px;
  color  : #002f34;
}

.partnerName
{
  font-size   : 12px;
  color       : #7f9799;
  margin-left : 4px;
}

/* Partners section */

.main
{
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display : flex;
}

.section
{
  min-width              : 280px;
  padding                : 0;
  margin                 : 0 16px 0 0;
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-flex-direction : column;
  -ms-flex-direction     : column;
  flex-direction         : column;
  -webkit-box-flex-wrap  : wrap;
  -webkit-flex-wrap      : wrap;
  -ms-flex-wrap          : wrap;
  flex-wrap              : wrap;
  line-height            : 1.88;
  list-style             : none;
}

.section a
{
  -webkit-text-decoration : none;
  text-decoration         : none;
  white-space             : nowrap;
  font-size               : 16px;
  font-weight             : 600;
  color                   : #002f34;
}

.section a:hover
{
  background : #002f34;
  color      : #ffffff;
}

.appSection
{
  margin-left             : 16px;
  display                 : -webkit-box;
  display                 : -webkit-flex;
  display                 : -ms-flexbox;
  display                 : flex;
  -webkit-box-pack        : start;
  -ms-flex-pack           : start;
  -webkit-justify-content : flex-start;
  justify-content         : flex-start;
  -webkit-flex-direction  : column;
  -ms-flex-direction      : column;
  flex-direction          : column;
}

.appSectionText
{
  webkit-align-items : center;
  -webkit-box-align  : center;
  -ms-flex-align     : center;
  align-items        : center;
  color              : #7f9799;
  font-size          : 12px;
  text-align         : center;
}

.appstoreButtonsContainer
{
  padding       : 0;
  display       : -webkit-box;
  display       : -webkit-flex;
  display       : -ms-flexbox;
  display       : flex;
  margin: 0 0 8px;
}

.appstoreButton
{
  list-style   : none;
  margin-right : 12px;
}