.navbar
{
  position           : fixed;
  top                : 0;
  left               : 0;
  right              : 0;
  z-index            : 1030;
  background         : #002f34;
  transition         : top 0.4s ease-in-out;
  -webkit-transition : top 0.4s ease-in-out;
  width              : 100vw;
  height             : 72px;
}

.logoContainer
{
  width    : 71px;
  height   : 41px;
  display  : block;
  position : relative;
}

.navbarContainer
{
  max-width               : 1270px;
  height                  : 72px;
  margin                  : 0 auto;
  display                 : -webkit-box;
  display                 : -webkit-flex;
  display                 : -ms-flexbox;
  display                 : flex;
  -webkit-align-items     : center;
  -webkit-box-align       : center;
  -ms-flex-align          : center;
  align-items             : center;
  -webkit-box-pack        : justify;
  -webkit-justify-content : space-between;
  justify-content         : space-between;
  padding                 : 0 16px;
}

.o
{
  width             : 34px;
  height            : 34px;
  border-radius     : 100%;
  position          : absolute;
  left              : -11px;
  top               : -11px;
  -webkit-transform : translate(12px, 15px);
  -moz-transform    : translate(12px, 15px);
  -ms-transform     : translate(12px, 15px);
  transform         : translate(12px, 15px);
  box-shadow        : 0 0 0 12px #23e5db inset;
}

.l
{
  width      : 10px;
  position   : absolute;
  top        : 0;
  bottom     : 0;
  left       : 38px;
  background : #23e5db;
}

.x
{
  width             : 20px;
  height            : 20px;
  overflow          : hidden;
  display           : block;
  position          : absolute;
  left              : 1px;
  top               : 0;
  -webkit-transform : translate(51px, 10px);
  -moz-transform    : translate(51px, 10px);
  -ms-transform     : translate(51px, 10px);
  transform         : translate(51px, 10px);
}

.x:before
{
  -webkit-transform : skewX(45deg) translate(-50%, 0);
  -moz-transform    : skewX(45deg) translate(-50%, 0);
  -ms-transform     : skewX(45deg) translate(-50%, 0);
  transform         : skewX(45deg) translate(-50%, 0);
}

.x:before, .x:after
{
  content    : "";
  position   : absolute;
  top        : 0;
  left       : 50%;
  width      : 65%;
  height     : 100%;
  background : #23e5db;
}

.x:after
{
  -webkit-transform : skewX(-45deg) translate(-50%, 0);
  -moz-transform    : skewX(-45deg) translate(-50%, 0);
  -ms-transform     : skewX(-45deg) translate(-50%, 0);
  transform         : skewX(-45deg) translate(-50%, 0);
}

.x:before, .x:after
{
  content    : "";
  position   : absolute;
  top        : 0;
  left       : 50%;
  width      : 65%;
  height     : 100%;
  background : #23e5db;
}

.navContainer
{
  display             : -webkit-box;
  display             : -webkit-flex;
  display             : -ms-flexbox;
  display             : flex;
  -webkit-align-items : center;
  -webkit-box-align   : center;
  -ms-flex-align      : center;
  align-items         : center;
}

.messages
{
  margin-right            : 40px;
  position                : relative;
  display                 : -webkit-box;
  display                 : -webkit-flex;
  display                 : -ms-flexbox;
  display                 : flex;
  -webkit-align-items     : center;
  -webkit-box-align       : center;
  -ms-flex-align          : center;
  align-items             : center;
  cursor                  : pointer;
  -webkit-text-decoration : none;
  text-decoration         : none;
  font-size               : 16px;
  font-weight             : 600;
  color                   : #ffffff;
}

.messagesIconContainer
{
  position : relative;
}

.messagesIcon
{
  height : 22px;
  width  : 22px;
  color  : #002f34;
  color  : inherit;
}

.messagesMessage
{
  margin-top  : 1px;
  margin-left : 18px;
}

.watched
{
  margin-right : 40px;
  position     : relative;
}

.watchedIcon
{
  height : 22px;
  width  : 22px;
  color  : #ffffff;
}

.yoAccountContainer
{
  margin-right : 40px;
  position     : relative;
}

.yoAccount
{
  display                 : -webkit-box;
  display                 : -webkit-flex;
  display                 : -ms-flexbox;
  display                 : flex;
  -webkit-align-items     : center;
  -webkit-box-align       : center;
  -ms-flex-align          : center;
  align-items             : center;
  -webkit-text-decoration : none;
  text-decoration         : none;
  font-size               : 16px;
  font-weight             : 600;
  color                   : #ffffff;
}

.yoAccountIcon
{
  height       : 24px;
  width        : 24px;
  margin-right : 12px;
  color        : #ffffff;
  color        : inherit;
}

.postAdButton
{
  webkit-align-items      : center;
  -webkit-box-align       : center;
  -ms-flex-align          : center;
  align-items             : center;
  border                  : 0;
  border-radius           : 0;
  box-sizing              : border-box;
  color                   : #ffffff;
  cursor                  : pointer;
  display                 : -webkit-inline-box;
  display                 : -webkit-inline-flex;
  display                 : -ms-inline-flexbox;
  display                 : inline-flex;
  -webkit-box-pack        : center;
  -ms-flex-pack           : center;
  -webkit-justify-content : center;
  justify-content         : center;
  margin                  : 0;
  min-height              : 40px;
  padding                 : 13px 48px 15px;
  position                : relative;
  -webkit-text-decoration : none;
  text-decoration         : none;
  background-color        : #002f34;
  font-weight             : 700;
  font-size               : 16px;
  line-height             : 18px;
  background-color        : #ffffff;
  border                  : solid 5px #ffffff;
  border-radius           : 4px;
  color                   : #002f34;
  padding                 : 10px 43px 8px 43px;
  padding-left            : 22px;
  padding-right           : 22px;
}