.searchBarContainer
{
  width:            100%;
  margin:           0 auto;
  background-color: #F2F4F5;
  padding-top:      40px;
  padding-bottom:   80px;
  padding-left:     16px;
  padding-right:    16px;
  padding:          0;
}


.searchBarInnerContainer
{
  display:               grid;
  width:                 100%;
  background-color:      inherit;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap:       16px;
  -webkit-align-items:   stretch;
  -webkit-box-align:     stretch;
  -ms-flex-align:        stretch;
  align-items:           stretch;
}

.searchBar
{
  margin:        0;
  padding:       0;
  margin-bottom: 24px;
  grid-column:   span 12;
  position:      relative;
  width:         100%;
  margin-bottom: 0;
}

.formContainer {
  padding: 40px 0;
  max-width: 1238px;
  margin: 0 auto; /* Horizontally center .formContainer */
}

@media screen and (max-width: 992px) {
  .searchElementsContainer {
    display: flex;
    flex-direction: column; /* Stack children vertically */
  }

  .searchInputContainer {
    grid-column: span 12; /* Full width for search input on small screens */
  }

  .localisationOuterOuterOuterOuterOuterContainer {
    grid-column: span 12; /* Full width for location input on small screens */
  }

  .buttonContainer {
    grid-column: span 12; /* Full width for button on small screens */
  }
}


.searchElementsContainer
{
  display:               grid;
  width:                 100%;
  background-color:      inherit;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap:       16px;
  grid-column-gap:       1px;
  -webkit-align-items:   stretch;
  -webkit-box-align:     stretch;
  -ms-flex-align:        stretch;
  align-items:           stretch;
}

.searchInputContainer
{
  margin:        0;
  padding:       0;
  margin-bottom: 24px;
  grid-column:   span 8;
  position:      relative;
  width:         100%;
  margin-bottom: 0;
}

.searchInputOuterContainer
{
  position: relative;
}

.searchInputInnerContainer
{
  position: relative;
}

.actualSearchBarContainer
{
  background-color: transparent;
  position:         relative;
}

.searchIconContainer
{
  color:    #406367;
  left:     16px;
  position: absolute;
  top:      14px;
}

.searchIcon
{
  height:     24px;
  width:      24px;
  color:      #002F34;
  margin-top: 8px;
  color:      #002F34;
}

.actualSearchBar
{
  font-size:           16px;
  color:               #002F34;
  background-color:    #F2F4F5;
  border:              none;
  border-bottom-color: #F2F4F5;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius:       4px;
  line-height:         20px;
  outline:             0;
  padding:             14px 48px 14px 16px;
  padding-left:        48px;
  width:               100%;
  border-radius:       4px 0 0 4px;
  border-color:        #FFFFFF;
  background-color:    #FFFFFF;
  height:              72px;
  margin-bottom:       4px;
}

.localisationOuterOuterOuterOuterOuterContainer
{
  margin:        0;
  padding:       0;
  margin-bottom: 24px;
  grid-column:   span 3;
  position:      relative;
  width:         100%;
  margin-bottom: 0;
}

.localisationOuterOuterOuterOuterContainer
{
  width:            100%;
  height:           72px;
  position:         relative;
  z-index:          1000;
  background-color: #FFFFFF;
  display:          -webkit-box;
  display:          -webkit-flex;
  display:          -ms-flexbox;
  display:          flex;
}

.localisationOuterOuterOuterContainer
{
  position: relative;
  width:    100%;
}

.localisationOuterOuterContainer
{
  position: relative;
}

.localisationOuterContainer
{

}

.localisationContainer
{
  background-color: transparent;
  position:         relative;
}

.localisationIconContainer
{
  color:    #406367;
  left:     16px;
  position: absolute;
  top:      14px;
}

.localisationIcon
{
  height:     24px;
  width:      24px;
  color:      #7F9799;
  margin-top: 10px;
  color:      #002F34;
}

.localisationInput
{
  font-size:           16px;
  color:               #002F34;
  background-color:    #F2F4F5;
  border:              none;
  border-bottom-color: #F2F4F5;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius:       4px;
  line-height:         20px;
  outline:             0;
  padding:             14px 48px 14px 16px;
  padding-left:        48px;
  width:               100%;
  border-radius:       0;
  border-color:        #FFFFFF;
  background-color:    #FFFFFF;
  height:              72px;
}

.buttonContainer
{
  margin:        0;
  padding:       0;
  margin-bottom: 24px;
  grid-column:   span 1;
  position:      relative;
  width:         100%;
  margin-bottom: 0;
}

.button
{
  -webkit-align-items:        center;
  -webkit-box-align:          center;
  -ms-flex-align:             center;
  align-items:                center;
  border:                     0;
  border-radius:              0;
  box-sizing:                 border-box;
  color:                      #FFFFFF;
  cursor:                     pointer;
  display:                    -webkit-inline-box;
  display:                    -webkit-inline-flex;
  display:                    -ms-inline-flexbox;
  display:                    inline-flex;
  -webkit-box-pack:           center;
  -ms-flex-pack:              center;
  -webkit-justify-content:    center;
  justify-content:            center;
  margin:                     0;
  min-height:                 40px;
  padding:                    13px 48px 15px;
  position:                   relative;
  -webkit-text-decoration:    none;
  text-decoration:            none;
  background-color:           #002F34;
  font-weight:                700;
  font-size:                  16px;
  line-height:                18px;
  background-color:           #002F34;
  border:                     5px solid #002F34;
  border-radius:              4px;
  color:                      #FFFFFF;
  padding:                    10px 30px 8px 30px;
  height:                     72px;
  border-top-right-radius:    4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius:     0;
  border-bottom-left-radius:  0;
  white-space:                nowrap;
}

.button:hover
{
  background: #ffffff;
  color:      #002F34;
}

.button:hover .searchButtonIcon
{
  color: #002F34;
}

.searchButtonIcon
{
  height: 24px;
  width:  24px;
  color:  #002F34;
  size:   24px;
  margin: -2px 2px;
  color:  #FFFFFF;
}