.container
{
  position:  absolute;
  left:      0;
  top:       100%;
  z-index:   200;
  min-width: 100%;
}

.ul
{
  overflow:   auto;
  background: rgb(255, 255, 255);
  margin:     0;
  padding:    0;
  cursor:     pointer;
}

.entry
{
  list-style: none;
  margin:     0;
  padding:    10px 10px 10px 16px;
  background: rgb(255, 255, 255);
}

.entryInfoContainer
{
  display:           flex;
  -webkit-box-align: center;
  align-items:       center;
  -webkit-box-pack:  justify;
  justify-content:   space-between;
}